--SETS-- can contain a value only once

In [6]:
#can take only one argument which needs to be an iterable one
myset = set('String')

In [7]:
myset

{'S', 'g', 'i', 'n', 'r', 't'}

In [8]:
mytuple = tuple(myset)

In [9]:
mytuple

('n', 'g', 't', 'S', 'i', 'r')

In [10]:
myset.add('new string')

In [11]:
myset

{'S', 'g', 'i', 'n', 'new string', 'r', 't'}

In [12]:
myset.clear()

In [13]:
myset

set()

In [14]:
myset = set(['one', 'two', 'three'])

In [15]:
myset

{'one', 'three', 'two'}

In [17]:
myset2 = set(['one', 'three', 'five'])

In [20]:
# set difference subtracts one set from another
myset.difference(myset2)

{'two'}

In [21]:
myset2.difference(myset)

{'five'}

In [23]:
# difference_update causes the subtraction to be permanent
print(myset)
print(myset2)

{'three', 'two', 'one'}
{'three', 'one', 'five'}

In [24]:
myset.difference_update(myset2)

In [27]:
# this time the subtraction result will be assigned to the set
myset

{'two'}

In [28]:
myset2

{'five', 'one', 'three'}

In [32]:
# remove the element if present in the set else do nothing
myset.discard('one')

In [34]:
myset.discard('two')

In [35]:
myset

set()

In [36]:
myset = set(['one', 'two', 'three'])

In [37]:
myset2

{'five', 'one', 'three'}

In [39]:
# same as in mathematics
# also the intersection_update is same as difference_update
myset.intersection(myset2)

{'one', 'three'}

In [41]:
# if the sets have zero intersection then it return null
myset.isdisjoint(myset2)

False

In [47]:
set1 = set([1,2,3,4,5,6])
set2 = set([3,4])

In [48]:
# issubset returns true if the set is a subset of argument
set2.issubset(set1)

True

In [49]:
# issuperset returns true if the set is a superset of argument
set1.issuperset(set2)

True

In [54]:
# pop removes and returns the element at the start
# if no element is found then  KeyError is raised
set1.pop()

1

In [55]:
set1

{2, 3, 4, 5, 6}

In [60]:
# remove a specific element from the set
# if empty then raise a KeyError
set1.remove(6)

In [61]:
set1

{2, 3, 4, 5}

In [62]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [65]:
set_1 = set([1,2,3,4])
set_2 = set([3,4,5,6])

In [68]:
# returns the elements that are not in both the sets
# i.e., elements that are unique to each set
# similar to above methods we have symmetric_difference_update
set_1.symmetric_difference(set_2)

{1, 2, 5, 6}

In [70]:
# set union is same as in mathematics
set_1.union(set_2)

{1, 2, 3, 4, 5, 6}

In [71]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [75]:
# update method inserts values of another set into current set
print(set_1, set_2, sep = '\n')
set_1.update(set_2)
print(set_1)

{1, 2, 3, 4}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

TypeError: 'set' object does not support indexing