Many Objects in Python are iterable and can be used to create loops

In [1]:
myList = [1,2,3]
for iter in myList:
    print(iter)

1
2
3

In [2]:
myNewList = ['apple', 'banana', 'cherry']
for iter in myNewList:
    iter = iter + " Fruit"

In [3]:
myNewList

['apple', 'banana', 'cherry']

In [5]:
myList += [4,5,6,7,8,9]

In [6]:
for iter in myList:
    if(iter % 2 == 0):
        print('%10d'%(iter))
    else:
        print('%20d'%(iter))

                   1
         2
                   3
         4
                   5
         6
                   7
         8
                   9

In [6]:
for iter in myList:
    if(iter % 2 == 0):
        print('%10d'%(iter))
    else:
        print('%-20d'%(iter))

1
         2
3
         4
5
         6
7
         8
9

In [7]:
myDict = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6}

In [10]:
for iter in myDict.keys():
    print(iter)

a
b
c
d
e
f

In [11]:
tup_list = [(1,2),(3,4),(5,6),(7,8),(9,10)]

In [12]:
# this is called tuple inpacking
for (a,b) in tup_list:
    print(a,b,sep='\t')

1	2
3	4
5	6
7	8
9	10

In [13]:
for iter in tup_list:
    for num in iter:
        print(num)

1
2
3
4
5
6
7
8
9
10

In [14]:
for a,b in tup_list:
    print(a)

1
3
5
7
9

In [15]:
tup_list2 = [[1,2],[3,4],[5,6],[7,8],[9,10]]
for a,b in tup_list2:
    print(a)

1
3
5
7
9

In [16]:
for iter in tup_list2:
    print(iter)

[1, 2]
[3, 4]
[5, 6]
[7, 8]
[9, 10]

In [17]:
myDict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [18]:
print(myDict.items())
print(myDict.keys())
print(myDict.values())
for key,val in myDict.items():
    print(key , " : " , val)

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6)])
dict_keys(['a', 'b', 'c', 'd', 'e', 'f'])
dict_values([1, 2, 3, 4, 5, 6])
a  :  1
b  :  2
c  :  3
d  :  4
e  :  5
f  :  6

In [19]:
# my old way
for i in range(1,10):
    print(f'2 * {i} = {i*2}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [20]:
for i in range(10,0,-1):
    print(f'2 * {i} = {i*2}')

2 * 10 = 20
2 * 9 = 18
2 * 8 = 16
2 * 7 = 14
2 * 6 = 12
2 * 5 = 10
2 * 4 = 8
2 * 3 = 6
2 * 2 = 4
2 * 1 = 2

While loops
Suprisingly we can add an else to the while loop in python

In [21]:
x=0
while(x<5):
    print(f'Value of x is {x}')
    x+=1
else:
    print('value of x is not less than 5')

Value of x is 0
Value of x is 1
Value of x is 2
Value of x is 3
Value of x is 4
value of x is not less than 5

In [ ]:
while i in range(1,10):
    print(i)
    i+=1

In [2]:
# we can also combine for and else
for i in range(1,10):
    print(i)
    if i==8:
        break
else:
    print(i)

1
2
3
4
5
6
7
8

PASS, BREAK, CONTINUE

In [23]:
for i in range(1,10):
    #something needs to be in the loop
    pass

In [24]:
range(1,10)

range(1, 10)

In [25]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [29]:
[range(1,10)]

[range(1, 10)]

In [30]:
word = 'YouShouldHaveGoneForTheHead'
enumerate(word)

In [31]:
for item in enumerate(word):
    print(item)

(0, 'Y')
(1, 'o')
(2, 'u')
(3, 'S')
(4, 'h')
(5, 'o')
(6, 'u')
(7, 'l')
(8, 'd')
(9, 'H')
(10, 'a')
(11, 'v')
(12, 'e')
(13, 'G')
(14, 'o')
(15, 'n')
(16, 'e')
(17, 'F')
(18, 'o')
(19, 'r')
(20, 'T')
(21, 'h')
(22, 'e')
(23, 'H')
(24, 'e')
(25, 'a')
(26, 'd')

In [44]:
for count,val in enumerate(word):
    print(count,val,sep="\t")

0	Y
1	o
2	u
3	S
4	h
5	o
6	u
7	l
8	d
9	H
10	a
11	v
12	e
13	G
14	o
15	n
16	e
17	F
18	o
19	r
20	T
21	h
22	e
23	H
24	e
25	a
26	d

In [45]:
for count,val in enumerate(word, 10):
    print(count,val,sep="\t")

10	Y
11	o
12	u
13	S
14	h
15	o
16	u
17	l
18	d
19	H
20	a
21	v
22	e
23	G
24	o
25	n
26	e
27	F
28	o
29	r
30	T
31	h
32	e
33	H
34	e
35	a
36	d

ZIP functions zips together lists as list of tuples

In [32]:
myList1 = [1,2,3,4,5]
myList2 = ['a','b','c','d','e']

In [33]:
item = zip(myList1,myList2)

In [34]:
for a,b in zip(myList1,myList2):
    print(a,b,sep="  ")

1  a
2  b
3  c
4  d
5  e

In [35]:
list(zip(myList1,myList2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [36]:
list(enumerate(word))

[(0, 'Y'),
 (1, 'o'),
 (2, 'u'),
 (3, 'S'),
 (4, 'h'),
 (5, 'o'),
 (6, 'u'),
 (7, 'l'),
 (8, 'd'),
 (9, 'H'),
 (10, 'a'),
 (11, 'v'),
 (12, 'e'),
 (13, 'G'),
 (14, 'o'),
 (15, 'n'),
 (16, 'e'),
 (17, 'F'),
 (18, 'o'),
 (19, 'r'),
 (20, 'T'),
 (21, 'h'),
 (22, 'e'),
 (23, 'H'),
 (24, 'e'),
 (25, 'a'),
 (26, 'd')]

In [37]:
list(enumerate(myList2))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

WE ALSO HAVE MIN AND MAX FUNCTIONS

In [38]:
min(myList2)

'a'

In [39]:
max(myList1)

5

USING RANDOM LIBRARY

In [40]:
from random import shuffle

In [41]:
myList = [9,8,7,6,5,4,3,2,1]

In [42]:
# this shuffle function doesnt return anything 
shuffle(myList)

In [43]:
myList

[7, 3, 9, 2, 4, 8, 6, 1, 5]

In [44]:
#we also have a random number generator
from random import randint

In [45]:
# here 10,20 is the lower and upper bound both are inclusive
randint(10,20)

10

In [46]:
from random import betavariate

In [47]:
betavariate(10,20)

0.35901461696031706

In [48]:
from random import choice

In [49]:
#choose any object from iterable
choice("Hello World")

'W'

In [50]:
from random import choices

In [51]:
#choose 'K' number of elements from the iterable
choices("myList", k = 2)

['y', 'y']

In [52]:
from random import expovariate

In [53]:
# Exponential distribution
expovariate(10)

0.03986821333646739

In [54]:
from random import gauss

In [55]:
#Gaussian Distribution
gauss(1,2)

3.169877733333008

In [56]:
from random import random

In [57]:
# generate a random number between 0 and 1
random()

0.45341010947263416

In [58]:
from random import randrange

In [59]:
#choose any random number in the range
randrange(1,10,2)

5

IN THIS TUTORIAL I LEARNT ABOUT<br><br>

<pre>
FOR LOOP (works with any iterable).
WHILE LOOP (can have an else).
BREAK, CONTINUE, PASS.
FUNCTIONS LIKE ( RANGE, ENUMERATE, ZIP).
AND A BIT ABOUT RANDOM LIBRARY.
</pre>